@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --pramary-dark: #5651e5;
  --pramary-light: #709dff
}
li{
  @apply p-4 text-xl
}

h1, h2{
  @apply text-3xl font-bold md:text-4xl
}
h3{
  @apply font-bold
}
button{
  @apply p-3 border bg-gradient-to-r from-[var(--pramary-dark)] to-[--pramary-light] rounded-md text-white
}

.icon{
  color: var(--pramary-light);
}

.icon{
  @apply text-2xl cursor-pointer
}